{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Tablero' %}{% endblock  %}
{% block content %}
    <div style="position: relative;
    height: 200px;
    overflow: auto;
    display: block;">
        <table   class=" table table-bordered table-striped mb-0 ">
           
          <thead class="bg-black text-white" style="font-family:amstrong !important; ">
            
              <tr>
                
                <th scope="col">Producto</th>
                <th scope="col">Marca</th>
                <th scope="col" >Pvp</th>
                <th scope="col">Descuento</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Cód.Producto(API)</th>
                <th scope="col">Marca(API)</th>
                <th scope="col">Precio(API)</th>
                <th scope="col">Descuento(API)</th>
                <th scope="col">Notificación</th>   
                <th scope="col">Acciones</th>   
              </tr>
            </thead>
          <tbody class=" text-black" style="background:rgb(242, 242, 242) !important; font-family:amstrong !important;" >  
            {% for cproduct  in product  %}
            <tr>
                <th scope="row">{{cproduct.title}}</th>
                <td>{{cproduct.pvp}}</td>
                <td>{{cproduct.discount}}</td>
                <td>{{cproduct.pvp}}</td>
                <td>{{cproduct.pvp}}</td>
                <td>{{cproduct.pvp}}</td>
                <td>{{cproduct.pvp}}</td>
                <td>
                    <div class="btn-group">
                      <a class="btn btn-primary" href="{% url 'market:update_product' item.id %}">
                        Editar
                      </a>
                      <a class="btn btn-danger" href="{% url 'market:delete_product' item.id %}">
                        Borrar
                      </a>
                      <a class="btn btn-info" href="{% url 'market:product_data_update' item.id %}">
                        Actualizar
                      </a>
                    </div>
                  </td>
                 
            </tr>
            {% endfor %}
        </tbody>
       
        </table>
    </div>
{% endblock  %}