{% extends 'home.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Reiniciar Contraseña' %} {% endblock  %}
{% block content %}
<section class="section-conten padding" style="">
{% comment %} obtengo desde la url el parámetro command {% endcomment %}



        <!-- ============================ COMPONENT LOGIN   ================================= -->
            <div class="card_register mx-auto" style="max-width: 380px; margin-top:50px;">
               
                <div class="card_body">
                    {% include 'layout/alert.html' %}
              <h4 class="card_title mb-4">{% trans "Resetear Contraseña" %}</h4>
              <form action="{% url 'resetPassword' %}" method="POST">
                {% csrf_token %}
                  <div class="form-group">
                     <input type="password" class="form-control" placeholder="Nueva contraseña" name="password">
                  </div> <!-- form-group// -->
               
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirmar contraseña" name="confirm_password">
                 </div> <!-- form-group// -->
              
             
                  <div class="form-group ">
                      <button type="submit" class="btn btn-primary w-100 btn-block"> {% translate "Resetear" %} </button>
                    </div> <!-- form-group// -->    
              </form>
              <p class="text-center text-white ">{% trans "¿No tienes una cuenta?" %}  <a href="{% url 'register' %}">{% trans "Registrate" %} </a></p>

              </div> <!-- card-body.// -->
            </div> <!-- card .// -->
        
            
             <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
         
        
        </section>

    

          
   

        
            {% endblock %}