{% extends './home.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Editar Producto' %}{% endblock  %}
{% block content %}
        {% comment %} <div class='container w-50 mt-3 '>

            <form class=" text-white"  method="POST" >
            
            {{productForm.as_p}}
            <input class="send form-control" type="submit" value="Submit"/>
            {% csrf_token %}
           
        </form>
        <div> {% endcomment %}
            <section class="" style="">
 
                <!-- ============================ COMPONENT REGISTER   ================================= -->
                    <div class="  mx-auto" style="max-width:1000px; margin-top:20px;">
                     
                      <article class="bg-black" style="flex: 1 1 auto;
                      padding: 1.25rem;" >
                          {% include 'layout/alert.html' %}
                        <header class="mb-4"><h4 class="card_title">{% trans "Crear Producto" %}</h4></header>
                        <form  method="POST">
                          {% comment %} ENVIAR DATA POR POST {% endcomment %}
                         
                              {% csrf_token %}
                             
                                <div class="">
                                    <div class=" form-group">
                                     
                                        <label>{% trans "Supervisor" %}</label>
                                        <div>
                                            {{productForm.supervisor}}
                                        </div>
                                    </div> <!-- form-group end.// -->
                                    <div class=" form-group">
                                        <label>{% trans "Título" %}</label>
                                        {{productForm.title}}
                                    </div> <!-- form-group end.// -->
                                    <div class=" form-group">
                                        <label>{% trans "Marca" %}</label>
                                        {{productForm.brand}}
                                    </div> <!-- form-group end.// -->
                                    <!-- form-group end.// -->
                                </div> <!-- form-row end.// -->
                               
                                <div class="form-row">
                                  <div class="col form-group">
                                      <label>{% trans "Precio" %}</label>
                                      {{productForm.pvp}}
                                  </div> <!-- form-group end.// -->
                                  <div class="col form-group">
                                      <label>{% trans "Descuento" %} </label>
                                      {{productForm.discount}}
                                  </div> <!-- form-group end.// -->
                              </div> <!-- form-row end.// -->
                             
                                 
                             
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-primary w-100 btn-block"> {% trans "Crear" %}  </button>
                                </div> <!-- form-group// -->  
                                {% comment %} <div style="color:white;">{{registerForm.email.errors}}</div>      
                                <div style="color:white;">{{registerForm.non_field_errors}}</div>     {% endcomment %}
                                    
                            </form>
              
                        </article><!-- card-body.// -->
                    </div> <!-- card .// -->
                    <br><br>
                <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
                
                
                </section>
{% endblock  %}