{% load static %}
{% load i18n %}

<footer class="bg-patter section-footer fixed-bottom  border-top">
	<div class="container-fluid  ">
		<section class="footer-bottom border-top row">
			<div class="col-md-3 pt-2">
				<span class="text-white"> {% trans 'Copyright © Brandproteccion 2022' %}   </span>
			</div>
			<div class="col-md-6 text-md-center">
				<img style="height:45px !important; " src="{% static 'img/isologo.png' %}"/>
              
			</div>
			
		</section>
	</div><!-- //container -->
</footer>



